h1{
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
body{
    : ;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(0, 33, 63);
    width: auto;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
    
}
a{
    align-items: right;
    color: rgb(0, 146, 190);
    margin: 0% 1%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
a:hover{
    color: white;
    transition: all ease-in 0.5s;
}